@import url(https://fonts.googleapis.com/css?family=Open+Sans);
*{
    margin:0;
    padding:0;
    border:none;
    outline:none;
    box-sizing: border-box;
}
/* Student Section Styles */
/* Student-Profile Styles */
.profile-container{
    border-radius:5px 0 0 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.2);
}
.heading-container{
  margin-bottom:20px;
  width:100%;   
  color:#092756 100%;
  
}
.heading-container h1{
    text-transform: uppercase;
    
}
.section-1{
    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);

    padding:20px 0;
}

.section-1 p{
    text-transform: uppercase;
    color: ivory;
    
}
.profile-photo{
    max-width:100%;
    height:100%;
    border-radius:50%;
    
}
.section-2{
    padding:1.25rem 4rem;
}

.section-2 .row{
    margin-bottom:10px;
}
.view-details-btn{
    padding:20px 0px;
    
}
.view-details-btn a{
    margin:0 auto;
    display:block;
    width:30%;
    
}
/* Student-Profile Styles */


/* Feedback Styles */
.feedback-heading{
    margin:5%;
    text-transform: capitalize;
}

.feedback-container{
    display:block;
    margin:0px auto 0px;
    padding:3%;
    font-family: 'Roboto',Helvetica,Arial,sans-serif;
    max-width:1000px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.2);
}
.feedback-card{
    display:block;
    margin:0 auto;
    width:100%;
    border-radius:5px;
    font-family: 'Roboto',Helvetica,Arial,sans-serif;
    padding:1.25rem 5rem;
    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);

    color:ivory;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.015),
             0 0  0 2px #092756,
             0.3em 0.3em 1em rgba(0,0,0,0.015);
}
.feedback-card div{
    margin:10px 0px;
}
.feedback-card form div.row{
    margin-bottom:5px;
}

.feedback-card input.input-text{
    outline:none;
    border:none;
    background:transparent;
    border-bottom:1px solid ivory;
    font-family: 'Roboto',Helvetica,Arial,sans-serif;
    font-size:1rem;
    width:100%;
    padding:0rem 0.65rem 0.85rem;
    color:ivory;
}

.feedback-card textarea{
    height:100px;
    border:none;
    outline:none;
    background:transparent;
    font-family: 'Roboto',Helvetica,Arial,sans-serif;
    border-bottom:1px solid rgb(255, 255, 255);
    width:100%;
    padding:0rem 0.65rem 0.85rem;
    color:ivory;
}

.feedback-card button{
    text-transform: uppercase;
    padding:0.65rem 0.85rem 0.7rem;
    width:20%;
    margin-top:15px;
    font-family: 'Roboto',Helvetica,Arial,sans-serif;
    color: ivory;
    background-color: #4a77d4; 
    background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); 
    background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); 
    background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); 
    background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); 
    background-image: linear-gradient(top, #6eb6de, #4a77d4); 
    background-repeat: repeat-x; 
    filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  
    border: 1px solid #3762bc; 
}

.feedback-card button:hover{
    background-color: ivory;
}

.rating{
    padding:1.5rem 1rem;
    background:transparent;
}
.rating p{
    color:ivory;
    font-weight:600;
    font-size: 25px;
}
/* Feedback Styles End*/
/* Student Section Styles End*/


/*Mentor Section Styles */

/* Schedule Test Styles */
.outer-container{
    display: block;
    margin:50px auto 0px;
    max-width: 1000px;
    padding:5% 0;
}
.test-container{
    border-radius:10px 10px 10px 10px;
    box-shadow:
    0 0  0 2px rgba(255,255,255,0.8),
    0.3em 0.3em 1em rgba(0,0,0,0.08);
}
.test-section-1{
    padding:0;
    margin:0;
}
.schedule-test-image{
    width:100%;
    height:100%;
}

.test-section-2{
    padding:1.25rem;
}

.test-section-2 .test-heading{
    margin:10px;
}

.test-section-2 form .row{
    margin-bottom:60px;
    padding:1.25rem;
}


.test-section-2 form select{
    outline:none;
    border:none;
    background:transparent;
    border-bottom:1px solid #636c72;
    text-transform: capitalize;
    padding:0 0.65rem 0.65rem;
    color:gray;
    font-weight:500;
    width:100%;
}

.test-section-2 form input{
    outline:none;
    border:none;
    background:transparent;
    border-bottom:1px solid #636c72;
    text-transform: capitalize;
    padding:0 0.65rem 0.65rem;
    color:gray;
    font-weight:500;
    width:100%;
}

.test-section-2 .btn-success{
    display: block;
    margin:0 auto;
    width:25%;
}
/* Schedule Test Styles End*/

/* Mark Attendance Style */

.attendance-container{
    max-width:1200px;
    display:block;
    margin:0 auto;
}

.attendance-heading{
    display:block;
    margin:10px auto 0px;
    padding:1rem;
}
.attendance-heading h2{
    text-transform: uppercase;
}
.attendance-table{
    padding:2rem 1.5rem;
}

.attendance-table table th{
    text-transform: capitalize;
    font-size:1.4rem;
}
.attendance-table table tr td{
    font-size:1.3rem;
}
.attendance-table table select{
    outline:none;
    border:none;
    font-size:1.3rem;
    color:#fff;
    background:transparent;
}
.attendance-table table select option{
    outline:none;
    border:none;
    font-size:1.3rem;
    background:#212122;
}

/* Mark Attendance Styles End*/
/*Mentor Section Styles End */

/* Admin styles */
/* View Feedback Section Styles */
.view-feedback-outer-container{
    max-width:1200px;
    display:block;
    margin:0 auto;
}

.view-feedback-inner-container{
    -webkit-box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.2);
    margin:2.5rem 0rem;
}

.view-feedback-inner-container .section-1{
    background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
    background: linear-gradient(to right, #ee5a6f, #f29263);
    padding:1.25rem 1.5rem 1.5rem;
    color:#fff;
}

.view-feedback-inner-container .section-1 img{
    border-radius:50%;
    width:100%;
    height:100%;
}

.view-feedback-heading{
    display:block;
    margin:20px auto;
    padding:1rem 0rem;
}

.bottom-btn{
    display:block;
    margin:20px auto;
    width:20%;
}
.view-feedback-inner-container .section-3{
    padding:0;
}
.view-feedback-inner-container .section-2{
    padding:2rem 1.25rem;
}

.view-feedback-inner-container .section-2 div{
    margin:7px 0px 8px;
} 

.view-feedback-inner-container .section-2 .heading{
    margin:10px 0px;
}


.view-feedback-inner-container .feedback-pic{
    width:100%;
    height:100%;
}
/* View Feedback Section Styles End*/
/* Assign Mentor Section Styles */
.assign-mentor-heading{
    margin:20px 0px;
    text-transform: uppercase;
}
.assign-mentors{
    max-width:1200px;
    display:block;
    margin:30px auto 0px;
}
.assign-mentor-table{
    padding:1.5rem 1.25rem;
    -webkit-box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.2);
}

.assign-mentor-table table td{
    padding:20px;
}
.assign-mentor-table table th{
    padding:20px;
}
.assign-mentor-table table thead{
    text-transform: capitalize;
}
.assign-mentor-table table td select{
    background:transparent;
    border:none;
    outline:none;
    color:#fff;
}
.assign-mentor-table table td select option{
    background:#212122;
    color:#fff;
}
/* Assing Mentors Section Styles End*/
/* Admin Styles End */