<%- include('new_student_header'); -%>
<div class="container-fluid">
    <div class="row">
        <div class="mentor-navigation col-md-4">
            <div class="row">
                <div class="mentor-image col-md-2">
                    <img src="/images/testpicture.jpg"/>
                </div>
                <div class="col-md-4">
                    <h4> Mentor Page </h4>
                </div>
            </div>
            <br/>
            <br/>
            <br/>
            <div class="row">
                <div class="mentor-navigation-area">
                    <ul>
                        <li class="mentor-link-item mentor-active"><a href="/mentor/classroom">My Classrooms</a></li>
                        <li class="mentor-link-item"><a href="/mentor/view-grades">View Grades</a></li>
                        <li class="mentor-link-item"><a href="/mentor/view-attendance">View Attendance</a></li>
                        <li class="mentor-link-item"><a href="/mentor/dashboard">Dashboard</a></li>
                        <br/>
                        <br/>
                        <li class="mentor-link-item"><a href="/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="mentor-content col-md-8">
            <div class="row title">
                <h2 class="text-center col-md-12"> Add Classroom Form </h2>
            </div>
            <div class="add-classroom-form row">
                <form action="/mentor/classroom" method="POST">
                    <div class="row form-group">
                        <input class="col-md-12 form-control" type="text" placeholder="Enter Classroom Title" name="Title"/>
                    </div>
                    <div class="row form-group">
                        <input class="col-md-12 form-control" type="text" value="<%= mentor%>" name="Mentor" readonly/>
                    </div>
                    <div class="row form-group">
                        <button type="submit" class="btn btn-primary add-classroom-btn"> Add Classroom </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include('footer'); -%>