<%- include('new_student_header'); -%>
<div class="container-fluid">
    <div class="row home-row">
            <div class="student-navigation-bar col-6 col-md-4">
                <div class="row student-profile">
                    <div class="col-md-4 student-profile-image">
                        <img src="/images/testpicture.jpg" />      
                    </div>
                    <h4 class="col-md-8"> Guest Login </h4>
                </div>
                <br/>
                <br/>
                <br/>
                <br/>
                <div class="navigation row">
                    <nav>
                        <ul class="navigation-bar">
                            <li class="link-item"> <a href="/student/classroom"> Classrooms </a></li>
                            <li class="link-item"> <a href="/student/feedback"> Feedback </a></li>
                            <li class="link-item"> <a href="/student/profile"> Profile </a></li>
                            <br/>
                            <br/>
                            <li class="link-item"> <a href="/logout"> Logout </a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="student-home col-md-8">
                <div class="row">
                    <h2> Student Home Page</h2>
                </div>
            </div>
    </div>
</div>
<%- include('footer'); -%>